<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="googlechrome" />
  <package id="git" />
  <package id="winrar" />
  <package id="notepadplusplus.install" />
  <package id="javaruntime" />
  <package id="skype" />
  <package id="openssh" />
  <package id="visualstudiocode" />
  <package id="totalcommander" />
  <package id="sublimetext3" />
  <package id="mingw" />
  <package id="visualstudio2015community" />
  <package id="office365proplus" />
  <package id="telegram.install" />
  <package id="gitkraken" />
  <package id="opencv" />
</packages>